# External libraries
/atcoder/
/boost/

# Editor and OS metadata
.DS_Store
/.vscode/


# Build outputs and executables
*.out
*.o
*.obj
*.exe
*.dll
*.dylib
*.so
*.dSYM/
/src/main
/target/
/tools/target/

# Local contest/problem cache
/problems/

# input, output dir
icpc2025_testcase

# others
.clang-format
.clang-tidy
test.cpp
